{% extends 'core/base.html' %}

{% block title %}Details{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="my-4 text-center">{{ athlete|title }}'s Profile</h1>
        <div class="row justify-content-center">
            <div class="col-md-3 me-5">
                <h4>Actions</h4>
                <div class="d-grid gap-2">
                    <a href="{% url 'core:edit_profile' athlete.pk %}" class="btn btn-primary">Edit Profile</a>
                    <a href="{% url 'core:view_health_records' athlete.id %}" class="btn btn-primary">View Health Logs</a>
                    <a href="#" class="btn btn-primary">View Workout Logs</a>
                    <a href="{% url 'core:index' %}" class="btn btn-primary">Dashboard</a>
                    <a href="{% url 'core:delete_profile' athlete.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this profile?');">Delete Profile</a>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Stats</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ athlete.name|title }}</td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td>{{ athlete.height }} cm</td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>{{ athlete.current_weight }} lbs</td>
                        </tr>
                        <tr>
                            <th>Current BMI</th>
                            <td>{{ athlete.current_bmi }}</td>
                        </tr>
                        <tr>
                            <th>Current BMI Class</th>
                            <td>{{ athlete.current_bmi_class }}</td>
                        </tr>
                        <tr>
                            <th>Last Blood Pressure Reading</th>
                            <td>{{ athlete.current_blood_pressure_sys }} / {{ athlete.current_blood_pressure_dia }}</td>
                        </tr>
                        <tr>
                            <th>Blood Pressure Status</th>
                            <td>{{ athlete.current_blood_pressure_status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}